<div id="skills-desktop" class="rounded-corner bg-white p-4 mb-4">
  <h3>Skill<span class="prompt">s</span></h3>

  <div class="row">
    <!-- CODE SKILLS -->
    <div class="col-6 p-1">
      <div class="card card-rounded card-skills">
        <div class="card-body p-3">
          <div>
            <img alt="" class="img-fluid img-skills" src="./assets/images/icons/skills.png">
          </div>
          <div class="p-1">
            <ul class="list-skills">
              <li class="item-skills">Javascript</li>
              <li class="item-skills">Typescript</li>
              <li class="item-skills">PHP</li>
              <li class="item-skills">C#</li>
              <li class="item-skills">Python</li>
            </ul>
            <ul class="list-skills">
              <li class="item-skills">Angular</li>
              <li class="item-skills">Laravel</li>
              <li class="item-skills">Django</li>
              <li class="item-skills">HTML5</li>
              <li class="item-skills">CSS3</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- DATABASE SKILLS -->
    <div class="col-6 p-1">
      <div class="card card-rounded card-skills">
        <div class="card-body p-3">
          <div>
            <img alt="" class="img-fluid img-skills" src="./assets/images/icons/database.png">
          </div>
          <div class="p-1">
            <ul class="list-skills">
              <li class="item-skills">MongoDB</li>
              <li class="item-skills">GraphQL</li>
              <li class="item-skills">PostgreSQL</li>
              <li class="item-skills">MySQL</li>
            </ul>
            <ul class="list-skills">
              <li class="item-skills">Firebase</li>
              <li class="item-skills">TypeORM</li>
              <li class="item-skills">SQL Server</li>
              <li class="item-skills">Oracle SQL</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
