<div id="resume-mobile" class="rounded-corner bg-white p-4 mb-4">
  <h3>Resum<span class="prompt">e</span></h3>

  <div class="row">
    <div class="col-4">
      <h5 class="fw-bold">Experience</h5>
    </div>

    <div class="col-8 d-flex justify-content-end">
      <p>
        Download my resume.
        &nbsp;
        <a class="fw-bold"
           href="https://firebasestorage.googleapis.com/v0/b/herbertpro-4d6b7.appspot.com/o/HERBERT%20PRO%20-%20CURRICULUM%20-%20EN.pdf?alt=media&token=6b68f368-7312-4ddb-98cb-c94720c9144b"
           target="_blank">EN</a>
        &nbsp;
        <a class="fw-bold"
           href="https://firebasestorage.googleapis.com/v0/b/herbertpro-4d6b7.appspot.com/o/HERBERT%20PRO%20-%20CURRICULUM%20-%20ES.pdf?alt=media&token=32ef31be-d568-4831-809d-752915832703"
           target="_blank">ES</a>
      </p>
    </div>
  </div>

  <div class="card card-rounded mt-4 mb-4" *ngFor="let exp of listExperiences">
    <div class="card-body p-3">

      <div class="row">
        <div class="col-3">
          <img [src]="[exp.logoCompany]" alt="experience-logo" class="img-fluid">
        </div>
        <div class="col-9 p-0">
          <p class="fw-bold p-0 m-0">{{exp.nameCompany}}</p>
          <p class="text-muted p-0 m-0">{{exp.charge}}</p>
          <p class="small p-0 m-0">{{exp.location}} &bull; {{exp.duration}}</p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <p>{{exp.description}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
