<div id="skills-mobile" class="custom-border bg-white p-4 mb-4">
  <h3>Skill<span class="prompt">s</span></h3>

  <!-- CODE SKILLS -->
  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-3">
          <div>
            <img alt="" class="img-skill" src="./assets/images/icons/skills.png">
          </div>
          <div class="p-1">
            <ul>
              <li>Javascript</li>
              <li>Typescript</li>
              <li>PHP</li>
              <li>C#</li>
              <li>Python</li>
            </ul>
            <ul>
              <li>Angular</li>
              <li>Laravel</li>
              <li>Django</li>
              <li>HTML5</li>
              <li>CSS3</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- DATABASE SKILLS -->
  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-3">
          <div>
            <img alt="" class="img-skill" src="./assets/images/icons/database.png">
          </div>
          <div class="p-1">
            <ul>
              <li>MongoDB</li>
              <li>GraphQL</li>
              <li>PostgreSQL</li>
              <li>MySQL</li>
            </ul>
            <ul>
              <li>Firebase</li>
              <li>TypeORM</li>
              <li>SQL Server</li>
              <li>Oracle SQL</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
