<!-------------------- NAVBAR --------------------->
<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
  <div class="container">
    <ul class="nav ms-auto">

      <li class="nav-item me-1">
        <a class="nav-link text-secondary" href="#projects">Proyectos</a>
      </li>

      <li class="nav-item me-1">
        <a class="nav-link text-secondary" href="#experience">Experiencia</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-secondary" href="#" target="_blank">CV</a>
      </li>

    </ul>
  </div>
</nav>

<!-------------------------------------------------------->
<!---------------- CONTAINER / WRAPPER ------------------->
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
     data-bs-smooth-scroll="true" tabindex="0">

  <!------------------------------------------------------------->
  <!-------------------------- HEADER --------------------------->
  <section class="container-fluid">
    <div class="container pt-3 pb-3">
      <div class="row">
        <div class="col-12 col-xl-3 p-xl-3">
          <img class="img-fluid rounded-circle" src="./assets/images/photo_profile.jpg" alt="">
        </div>
        <div class="col-12 col-xl-8 offset-xl-1">
          <div class="row">
            <div class="col-12 text-center">
              <p class="display-4 fw-medium mb-0">Herbert Pro</p>
            </div>
          </div>

          <div class="row">
            <div class="col-12 text-center">
              <p class="fs-4 fw-medium">Full stack developer</p>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <p class="lead">Desarrollador con 10 años de experiencia implementando soluciones de TI.</p>
            </div>
          </div>

          <hr class="text-muted">

          <div class="row">
            <div class="col-12">
              <p class="lead"><span class="fw-medium">Intereses</span>: Frontend, Backend, Cloud functions, Ux/Ui, Data
                scients, IOT, Machine learning.</p>
            </div>
          </div>

          <hr class="text-muted">

          <div class="row">
            <div class="col-12 col-xl-10 offset-xl-1 d-flex justify-content-between">

              <!-- BTN MAIL -->
              <a class="link-body-emphasis" [href]="'mailto:hprocastillo@gmail.com'">
                <i class="bi bi-envelope fs-3"></i>
              </a>

              <!-- BTN GITHUB -->
              <a class="link-body-emphasis" [href]="'https://github.com/hprocastillo'" target="_blank">
                <i class="bi bi-github fs-3"></i>
              </a>

              <!-- BTN YOUTUBE -->
              <a class="link-body-emphasis" [href]="'https://www.youtube.com/@hprocastillo'" target="_blank">
                <i class="bi bi-youtube fs-3"></i>
              </a>

              <!-- BTN LINKEDIN -->
              <a class="link-body-emphasis" [href]="'https://www.linkedin.com/in/hprocastillo/'" target="_blank">
                <i class="bi bi-linkedin fs-3"></i>
              </a>

              <!-- BTN TWITTER -->
              <a class="link-body-emphasis" [href]="'https://twitter.com/hprocastillo'" target="_blank">
                <i class="bi bi-twitter fs-3"></i>
              </a>

              <!-- BTN INSTAGRAM -->
              <a class="link-body-emphasis" [href]="'https://www.instagram.com/hprocastillo/'" target="_blank">
                <i class="bi bi-instagram fs-3"></i>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!------------------------------------------------------------->
  <!------------------------- PROJECTS -------------------------->
  <section id="projects" class="container-fluid bg-light">
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-xl-12">
          <p class="display-5 fw-medium">Proyectos</p>
          <br>

          <div class="row">
            <div class="col-xl-12">

              <!-- PROJECT 1 - PUNTALES -->
              <div class="card shadow rounded mb-4 p-3">
                <div class="row">
                  <div class="col-xl-3 border-end">
                    <img class="img-fluid" src="./assets/images/projects/titanpuntales.png" alt="">
                  </div>
                  <div class="col-xl-9">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item border-0 d-flex justify-content-between">
                        <p class="fs-5 fw-bold mb-0">Sitio web y Publicidad</p>
                        <p class="fs-5 fw-bold mb-0">2023</p>
                      </li>
                      <li class="list-group-item border-0">
                        Diseño e implementación de sitio web: Angular 16, Bootstrap 5, Firebase Hosting.
                      </li>

                      <li class="list-group-item border-0">
                        Diseño de campaña de anuncios publicitarios en Google Adsense.
                      </li>

                      <li class="list-group-item border-0">
                        <a class="text-decoration-none mt-0" [href]="'https://titanpuntales.com'" [target]="'_blank'">www.titanpuntales.com</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>

              <!-- PROJECT 2 - HBC -->
              <div class="card shadow rounded mb-4 p-3">
                <div class="row">
                  <div class="col-xl-3 border-end">
                    <img class="img-fluid" src="./assets/images/projects/hbc.png" alt="">
                  </div>
                  <div class="col-xl-9">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item border-0 d-flex justify-content-between">
                        <p class="fs-5 fw-bold mb-0">Sitio web, intranet y sistema de correos</p>
                        <p class="fs-5 fw-bold mb-0">2023</p>
                      </li>
                      <li class="list-group-item border-0">
                        Diseño e implementación de sitio web: Angular 16, Bootstrap 5, Firebase Hosting.
                      </li>

                      <li class="list-group-item border-0">
                        Diseño e implementación de Intranet: Angular 16, Bootstrap 5, Firebase(Firestore, Auth, Storage,
                        Hosting).
                      </li>

                      <li class="list-group-item border-0">
                        Implementación de sistema de correos profesional.
                      </li>

                      <li class="list-group-item border-0">
                        <a class="text-decoration-none mt-0" [href]="'https://hbclogistic.com'" [target]="'_blank'">www.hbclogistic.com</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- PROJECT 3 - CASEL -->
              <div class="card shadow rounded mb-4 p-3">
                <div class="row">
                  <div class="col-xl-3 border-end">
                    <img class="img-fluid" src="./assets/images/projects/casel.png" alt="">
                  </div>
                  <div class="col-xl-9">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item border-0 d-flex justify-content-between">
                        <p class="fs-5 fw-bold mb-0">Intranet</p>
                        <p class="fs-5 fw-bold mb-0">2022</p>
                      </li>
                      <li class="list-group-item border-0">
                        Diseño e implementación de sistemas de registro de contratos y gestión de proveedores: Angular
                        15, Bootstrap 4, Linux server.
                      </li>

                      <li class="list-group-item border-0">
                        Instalación y configuración de servidor VPS ubuntu 20.04 (OpenSSH, Mysql Server, JWT).
                      </li>

                    </ul>
                  </div>
                </div>
              </div>


              <!-- PROJECT 4 - ENDGAME -->
              <div class="card shadow rounded mb-4 p-3">
                <div class="row">
                  <div class="col-xl-3 border-end">
                    <img class="img-fluid" src="./assets/images/projects/endgame.png" alt="">
                  </div>
                  <div class="col-xl-9">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item border-0 d-flex justify-content-between">
                        <p class="fs-5 fw-bold mb-0">Intranet y Sistema Diskless</p>
                        <p class="fs-5 fw-bold mb-0">2022</p>
                      </li>
                      <li class="list-group-item border-0">
                        Diseño e implementación de sistemas de ventas y gestión de clientes: Angular 15, Bootstrap 4,
                        Firebase(Firestore, Auth, Storage,
                        Hosting).
                      </li>

                      <li class="list-group-item border-0">
                        Instalación y configuración de servidor ccboot.
                      </li>

                    </ul>
                  </div>
                </div>
              </div>


              <!-- PROJECT 5 - PENKA -->
              <div class="card shadow rounded mb-4 p-3">
                <div class="row">
                  <div class="col-xl-3 border-end">
                    <img class="img-fluid" src="./assets/images/projects/penka.png" alt="">
                  </div>
                  <div class="col-xl-9">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item border-0 d-flex justify-content-between">
                        <p class="fs-5 fw-bold mb-0">Web App, intranet</p>
                        <p class="fs-5 fw-bold mb-0">2021</p>
                      </li>
                      <li class="list-group-item border-0">
                        Diseño e implementación de Web App: Angular 14, Material, Firebase Hosting.
                      </li>

                      <li class="list-group-item border-0">
                        Diseño e implementación de Intranet: Angular 14, Bootstrap 4, Firebase(Firestore, Auth, Storage,
                        Hosting).
                      </li>

                      <li class="list-group-item border-0">
                        Planificación y modelado de casos de uso y base de datos.
                      </li>

                      <li class="list-group-item border-0">
                        <a class="text-decoration-none mt-0" [href]="'https://penka.io/'" [target]="'_blank'">www.penka.io</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!------------------------------------------------------------->
  <!------------------------- EXPERIENCE ------------------------>
  <section id="experience" class="container-fluid">
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-xl-12">
          <p class="display-5 fw-medium">Experiencia</p>
          <br>

          <div class="row">
            <div class="col-xl-12">

              <!-- EXPERIENCE 1 - HBC LOGISTIC -->
              <div class="card  rounded mb-4 border-0 bg-transparent">
                <div class="row mb-3">
                  <div class="col-12 col-xl-8">
                    <p class="fs-5 fw-bold mb-0">HBC LOGISTIC</p>
                    <p class="mb-0">Consultor - Trabajo remoto.</p>
                  </div>
                  <div class="col-12 col-xl-4 text-xl-end">
                    <p class="fw-bold">Ene 2022 - Presente</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-xl-12">
                    <ul>
                      <li>
                        A
                      </li>
                      <li>
                        Diseño de campaña de anuncios publicitarios en Google Adsense.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!------------------ FOOTER ------------------->

</div>
