<div class="main-column bg-white m-4 p-4">
  <h3>Resum<span class="prompt">e</span></h3>
  <br>
  <h5 class="fw-bold">Experience</h5>
  <div class="row">
    <div class="col-lg-12">

      <!-- HBC -->
      <div class="card mt-2 mb-4">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-1">
              <img class="img-jobs" src="./assets/images/jobs/hbc.jpg" alt="">
            </div>
            <div class="col-6">
              <p class="fw-bold">HBC Logistics - <span class="text-muted">Full stack development</span></p>
            </div>
            <div class="col-5 d-flex justify-content-end">
              <p class="small">Lima, Perú. &bull; May 2021 - present</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <p>Development of custom planning system</p>
            </div>
          </div>
        </div>
      </div>


      <!-- IMPALA -->
      <div class="card mb-4">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-1">
              <img class="img-jobs" src="./assets/images/jobs/impala.jpg" alt="">
            </div>
            <div class="col-6">
              <p class="fw-bold">IMPALA TERMINALS - <span class="text-muted">Full stack development</span></p>
            </div>
            <div class="col-5 d-flex justify-content-end">
              <p class="small">Lima, Perú. &bull; Jul 2021 - Dec 2021</p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p>Construction of a progressive web app, for registering incidents and a checklist to verify the status of transport vehicles.</p>
              <p>Developed in angular 12 with backend and database in firebase firestore and firebase hosting.</p>
            </div>
          </div>
        </div>
      </div>


      <!-- OPENDAT -->
      <div class="card mb-4">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-1">
              <img class="img-jobs" src="./assets/images/jobs/opendat.jpg" alt="">
            </div>
            <div class="col-6">
              <p class="fw-bold">OPENDAT iSGCAS - <span class="text-muted">Backend development</span></p>
            </div>
            <div class="col-5 d-flex justify-content-end">
              <p class="small">Antofagasta, Chile. &bull; Nov 2020 - Apr 2021</p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p>Development of new applications for mining management systems. Maintenance and improvement of Oracle
                database queries.</p>
              <p>Participation in the business model analysis team.</p>
            </div>
          </div>
        </div>
      </div>


      <!-- PENKA -->
      <div class="card mb-4">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-1">
              <img class="img-jobs" src="./assets/images/jobs/penka.jpg" alt="">
            </div>
            <div class="col-6">
              <p class="fw-bold">PENKA - <span class="text-muted">Full stack development</span></p>
            </div>
            <div class="col-5 d-flex justify-content-end">
              <p class="small">Tel Aviv, Israel. &bull; May 2020 - Apr 2021</p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p>Construction of the website and progressive web app developed in angular 12 framework with backend and database in firebase firestore and firebase hosting.</p>
              <p>Modeling of business use cases, design of database schemas.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
