@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* BODY */
html, body {
  background-color: #333;
  font-family: 'Roboto', sans-serif;
}

.prompt {
  margin: 0 0 0 3px;
  border-radius: 10px;
  padding: 2px 5px 2px 5px;
  background-color: #333;
  color: #01f801;
}

.rounded-corner {
  border-radius: 15px;
  border: 1px solid lightgray;
}

/* BUTTONS */
.btn > svg {
  margin: -3px 5px 0 0;
}

/* CONTACT - LIST */
.contact-list {

}

.contact-item > svg {
  margin-top: -5px;
  margin-right: 5px;
}

/* SIDEBAR - LIST */
.sidebar-item {
  font-size: 14px;
}

.sidebar-item:hover {
  cursor: pointer;
}

.sidebar-item > svg {
  margin-top: -5px;
  margin-right: 5px;
}

.sidebar-item > a {
  text-decoration: none;
  color: black;
}

.sidebar-item > a > svg {
  margin-top: -5px;
  margin-right: 5px;
}

/* NAVBAR */
.navbar {
  border-bottom: 1px solid #ccc;
}

/* CARD - BORDER */
.card-rounded {
  border-radius: 15px;
}

/* PROFILE - AVATAR */
.img-profile {
  border-radius: 50%;
}

/* SKILLS LIST */
.list-skills {
  display: inline-block;
  width: 50%;
}

.item-skills {
  font-size: 16px;
}

.item-skills::marker {
  font-size: 25px;
}

/* MEDIA QUERIES */
/* MOBILE */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  #desktop-layout {
    display: none;
  }
  #content-mobile {
    padding-top: 70px;
  }
  /* NAVBAR LIST */
  .navbar-item{
    color:#333;
  }
}

/* DESKTOP 720p */
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  #mobile-layout {
    display: none;
  }
  #left-column-desktop {
    top: 75px;
    height: 600px;
  }
  #content-desktop {
    padding-top: 75px;
  }
  .card-skills {
    height: 240px;
  }
  .card-contact {
    min-height: 480px;
  }
}

/* DESKTOP 1080p */
@media only screen and (min-width: 1900px) and (orientation: landscape) {
  #mobile-layout {
    display: none;
  }
  #left-column-desktop {
    top: 75px;
    height: 850px;
  }
  #content-desktop {
    padding-top: 75px;
  }
  .card-skills {
    height: 240px;
  }
  .card-contact {
    min-height: 480px;
  }
}
