@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* BODY */
html, body {
  background-color: #333;
  font-family: 'Roboto', sans-serif;
}

.prompt {
  margin: 0 0 0 3px;
  border-radius: 10px;
  padding: 2px 5px 2px 5px;
  background-color: #333;
  color: #01f801;
}

.rounded-corner {
  border-radius: 15px;
  border: 1px solid lightgray;
}

.card-rounded {
  border-radius: 15px;
}

/* MEDIA QUERIES */
/* PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (orientation: portrait) {
  html, body {
    font-size: 14px;
  }
  #desktop-layout {
    display: none;
  }
}

/* LANDSCAPE 600 - 1200 */
@media only screen and (min-device-width: 600px) and (max-device-width: 1190px) and (orientation: landscape) {
  html, body {
    font-size: 14px;
  }

  #mobile-layout {
    display: none;
  }

  #left-column-desktop {
    top: 65px;
    height: 600px;
  }

  #content-desktop {
    padding-top: 65px;
  }
}

/* LANDSCAPE 1200 - 1900 */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1890px) and (orientation: landscape) {
  html, body {
    font-size: 14px;
  }

  #mobile-layout {
    display: none;
  }

  #left-column-desktop {
    top: 65px;
    height: 600px;
  }

  #content-desktop {
    padding-top: 65px;
  }
}

/* LANDSCAPE 1900 - oo  */
@media only screen and (min-device-width: 1900px) and (orientation: landscape) {
  html, body {
    font-size: 16px;
  }
  #mobile-layout {
    display: none;
  }
  #left-column-desktop {
    top: 75px;
    height: 800px;
  }
  #content-desktop {
    padding-top: 75px;
  }
}
